.tem1-div{
    // width: 30%;
    background:#161b2d;
    padding: 10px;
    height: 330px;
    .tem1-ul{
        
        box-sizing: border-box;
        .tem1-li{
            border: 1px solid lightcyan;
            margin: 4px;
            height: 100px;
        }
        .tem1-cen-li:nth-child(2){
            height: 204px;
        }
    }
}